<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanxi.anim.sys.mapper.AnimDeptMapper" >
  <resultMap id="BaseResultMap" type="com.yanxi.anim.sys.pojo.AnimDept" >
    <id column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="dept_desc" property="deptDesc" jdbcType="VARCHAR" />
    <result column="dept_createTime" property="deptCreatetime" jdbcType="VARCHAR" />
    <result column="dept_updateTime" property="deptUpdatetime" jdbcType="VARCHAR" />
    <result column="isDeleted" property="isdeleted" jdbcType="BIT" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dept_id, dept_name, dept_desc, dept_createTime, dept_updateTime, isDeleted, parent_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yanxi.anim.sys.pojo.AnimDeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from anim_dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from anim_dept
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from anim_dept
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yanxi.anim.sys.pojo.AnimDeptExample" >
    delete from anim_dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yanxi.anim.sys.pojo.AnimDept" >
    insert into anim_dept (dept_id, dept_name, dept_desc, 
      dept_createTime, dept_updateTime, isDeleted, 
      parent_id)
    values (#{deptId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{deptDesc,jdbcType=VARCHAR}, 
      #{deptCreatetime,jdbcType=VARCHAR}, #{deptUpdatetime,jdbcType=VARCHAR}, #{isdeleted,jdbcType=BIT}, 
      #{parentId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yanxi.anim.sys.pojo.AnimDept" >
    insert into anim_dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="deptDesc != null" >
        dept_desc,
      </if>
      <if test="deptCreatetime != null" >
        dept_createTime,
      </if>
      <if test="deptUpdatetime != null" >
        dept_updateTime,
      </if>
      <if test="isdeleted != null" >
        isDeleted,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptDesc != null" >
        #{deptDesc,jdbcType=VARCHAR},
      </if>
      <if test="deptCreatetime != null" >
        #{deptCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="deptUpdatetime != null" >
        #{deptUpdatetime,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yanxi.anim.sys.pojo.AnimDeptExample" resultType="java.lang.Integer" >
    select count(*) from anim_dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update anim_dept
    <set >
      <if test="record.deptId != null" >
        dept_id = #{record.deptId,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptDesc != null" >
        dept_desc = #{record.deptDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.deptCreatetime != null" >
        dept_createTime = #{record.deptCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.deptUpdatetime != null" >
        dept_updateTime = #{record.deptUpdatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.isdeleted != null" >
        isDeleted = #{record.isdeleted,jdbcType=BIT},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update anim_dept
    set dept_id = #{record.deptId,jdbcType=VARCHAR},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      dept_desc = #{record.deptDesc,jdbcType=VARCHAR},
      dept_createTime = #{record.deptCreatetime,jdbcType=VARCHAR},
      dept_updateTime = #{record.deptUpdatetime,jdbcType=VARCHAR},
      isDeleted = #{record.isdeleted,jdbcType=BIT},
      parent_id = #{record.parentId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yanxi.anim.sys.pojo.AnimDept" >
    update anim_dept
    <set >
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptDesc != null" >
        dept_desc = #{deptDesc,jdbcType=VARCHAR},
      </if>
      <if test="deptCreatetime != null" >
        dept_createTime = #{deptCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="deptUpdatetime != null" >
        dept_updateTime = #{deptUpdatetime,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        isDeleted = #{isdeleted,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yanxi.anim.sys.pojo.AnimDept" >
    update anim_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      dept_desc = #{deptDesc,jdbcType=VARCHAR},
      dept_createTime = #{deptCreatetime,jdbcType=VARCHAR},
      dept_updateTime = #{deptUpdatetime,jdbcType=VARCHAR},
      isDeleted = #{isdeleted,jdbcType=BIT},
      parent_id = #{parentId,jdbcType=VARCHAR}
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </update>
</mapper>